.search-book-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

input {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 12px 20px;
}

.btn-search {
    width: 30%;
    padding: 10px;
    background-color: var(--black-light);
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

@media screen and (min-width: 481px) {
    .search-book-form {
        width: 50%;
    }

    .btn-search {
        height: 50px;
        width: 40%;
    }
}