.table {
    width: 100%;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tr {
    border-bottom: 1px solid #E6E6E6;
}